name: example07a
on:
    workflow_dispatch
jobs:
    Test1:
        runs-on: ubuntu-latest
        steps:
            - run: |
                echo "error Intentional Error Missing semicolon" >> $GITHUB_OUTPUT
                exit 1