name: example02
on:
    workflow_dispatch
        inputs:
            loglevel:
                description: 'Log level'
                required: true
                default: 'warning'
                type: choice
                options:
                    - info
                    - warning
                    - debug
jobs:
    explore-jobs:
        runs-on: ubuntu-latest
        steps:
            - run: "The job was ${{ github.event_name }}"