name: example07a
on:
    workflow_dispatch
jobs:
    Test1:
        runs-on: ubuntu-latest
        steps:
            - run: |
                exit 1
                echo "error=Intentional Error Missing semicolon" >> $GITHUB_OUTPUT