name: example08
on: [workflow_dispatch]
jobs:
    Test1:
       runs-on: ubuntu-latest
       steps:
          - name: Failing step
            id: demo
            run: exit 1
            if: ${{ failure() && steps.demo.conclusion == 'failure' }}

    Test2:
       runs-on: ubuntu-latest
       steps:
         - name: Failing step
           id: demo1
           run: exit 1
           if: ${{ failure() && steps.demo1.conclusion == 'failure' }}
